@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}
:root{
    --main-color:#e38528;
}
body{
    background: #fcf2e8;
    padding-left: 30rem;
}
/* header part starts */
header{
    position: fixed;
    top:0; left:0; bottom:0;
    background:#222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding:8rem 2rem;
    width:30rem;
    text-align: center;
}
header .logo{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    font-weight: bolder;
}
header .logo span{
    text-transform: uppercase;
    color:var(--main-color);
}
header .navbar a{
    display: block;
    font-size: 2rem;
    color:#fff;
    margin:2rem 0;
}
header .navbar a:hover{
    letter-spacing: .2rem;
    color:var(--main-color);
}
header .follow a{
    font-size: 2.5rem;
    color:#fff;
    margin:0 .7rem;
}
header .follow a:hover{
    color:var(--main-color);
}
